body {
    background-color: #fcbbd9; 
}

li {
    display: inline-block;
    font-family: 'Arial Narrow', sans-serif
}

.header-wrapper {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    text-align: center; 

}

h1 {
    text-align: center;
    width:75%; 
}

nav {
    display: flex; 
    justify-content: space-between; 
    background-color: #f5c1df;
    padding: 15px; 
}

.wrapper.welcome-text {
   background-color: #f5c1df;
   flex: 50%;
}

.wrapper.image-sidebar {
    background-color: #f5c1df;
    flex: 50%; 
}

img {
    width: 150px; 
    margin-left: auto; 
    margin-right: auto; 
}

p {
    font-family: 'Arial Narrow', sans-serif;
}

main {
    display: flex; 
}

h2 {
    text-align: center; 
}